{% extends 'base/base.html' %}
{% block title %}Task's detail{% endblock title %}
{% block card_header %}
    <a href="{%  url 'task-list' %}">&#8592;Back</a>
{% endblock card_header %}
{% block card_body %}
    <ul class="list-group">
      <li class="list-group-item"><strong>Title: </strong> {{object.title}}</li>
      <li class="list-group-item"><strong>Description: </strong> {{object.description}}</li>
      <li class="list-group-item"><strong>Complete: </strong> {{object.complete}}</li>
      <li class="list-group-item"><strong>Created at: </strong> {{object.created_at|date:'d-F-Y'}}</li>
    </ul>
    <div class="row mt-4">
      <div class="col-12">
        <a  href="{% url 'task-update' object.pk%}" class="btn btn-success text-light">Update</a>
        <a href="{% url 'task-delete' object.pk%}" class="btn btn-danger text-light">Delete</a>
      </div>
    </div>
{% endblock card_body %}
